.general__container {
  min-height: 100vh;
  padding-top: var(--header-height);
  background-color: #e3e6e6;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
