.skeleton {
  animation: skeleton--loading 0.7s linear infinite alternate;
  border-radius: 3px;
  background-color: #a3b8c2;
}
@keyframes skeleton--loading {
  0% {
    background-color: hsl(199, 20%, 70%);
  }
  100% {
    background-color: hsl(199, 20%, 87%);
  }
}
.skeletonContainer {
  background-color: #ffffff;
  height: 337px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: space-between;
}
.skeletonImage {
  width: 100%;
  height: 60%;
  margin: 0 auto;
}
.skeletonTitle {
  height: 6%;
  width: 90%;
  margin: 2% 0;
}
.skeletonDescription {
  height: 5%;
  width: 30%;
}
.skeletonDescription2 {
  width: 40%;
}
.skeletonButtons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 13%;
  margin-top: 5%;
  justify-content: space-between;
}
.skelButton1 {
  height: 50%;
  width: 45%;
}
.skelButton2 {
  height: 50%;
  width: 45%;
  border-radius: 777px;
}
.skelButton3 {
  height: 50%;
  width: 100%;
  margin-top: 2%;
}
