.cards__container {
  width: 90vw;
  height: min-content;
  margin: 0 auto;
  padding: 13px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 24px;
}
.card {
  width: 90%;
  border-radius: 5px;
  overflow: hidden;
  height: min-content;
}

.product {
  transform: rotateY(0deg);
  backface-visibility: hidden;
  padding: 17px;
  background-color: #ffffff;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 270px repeat(3, auto);
  row-gap: 7px;
  transition: transform 0.3s;
}
.toDetails {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #ffffff;
  background-color: var(--color1);
  border: solid 1px var(--color1);
  border-radius: 5px;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
}
.toDetails:hover {
  color: var(--color1);
  background-color: #ffffff;
}
.toDetails span {
  margin: auto 0;
}
.product figure {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  user-select: none;
}
.image__container img {
  width: 100%;
  object-fit: contain;
  z-index: 500;
  user-select: none;
}
.product__footer {
  display: flex;
  flex-direction: column;
  color: var(--color3);
  font-weight: bold;
}
.product__footer--name {
  color: var(--color4);
  flex-grow: 1;
  margin-bottom: 0.5lh;
}
.product__footer--name :nth-child(2) {
  font-weight: 400;
}
.product__footer--price {
  display: flex;
  justify-content: space-between;
}
.product__footer--price :nth-child(2):not(span) {
  color: var(--color4);
}
.product__footer span {
  font-weight: lighter;
}
.product__buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-style: none;
}
.product__buttons a {
  flex-grow: 1;
  height: 30px;
  background-color: var(--color3);
  border: solid 1px var(--color3);
  border-radius: 777px;
  margin-left: 7px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
.product__buttons a img {
  height: 80%;
  margin: auto 0;
}
.product__buttons a:hover {
  background-color: var(--color2);
}
.product__buttons button {
  flex-grow: 0.2;
  font-size: var(--font-size-buttons);
  background-color: var(--color2);
  border: solid 1px var(--color4);
  color: var(--color4);
  border-radius: 5px;
  margin-right: 7px;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
}
.product__buttons button:hover {
  background-color: var(--color4);
  color: var(--color2);
}
