.navbar__findBar {
  min-width: 40%;
  width: fit-content;
  padding: 7px;
  display: flex;
  justify-content: center;
  margin: 3vh auto;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.navbar__findBar--figure {
  height: 5vh;
  margin: 0 10px;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.navbar__findBar--figure svg {
  height: 100%;
  object-fit: contain;
}
.navbar__findBar input {
  flex-grow: 1;
  border-style: none;
  margin-left: 10px;
  font-size: large;
}
.navbar__findBar input:focus {
  outline: none;
}
