.header {
  width: 100vw;
  height: var(--header-height);
  color: white;
  top: 0;
  font-weight: 700;
  background-color: rgb(34, 34, 34);
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.header div {
  display: flex;
  margin: 0 5vw;
}
.header div:nth-child(1) {
  line-height: var(--header-height);
  font-size: xx-large;
}
.header div p span {
  color: var(--color1);
}
.header div figure {
  padding: 0 0.5vw;
  display: flex;
  align-items: center;
}
.header div figure p {
  align-self: start;
  margin-top: 13px;
  color: var(--color1);
}
.header div figure img {
  cursor: pointer;
  height: calc(var(--header-height) - 5vh);
  object-fit: contain;
}
