.shopCart-container {
  z-index: 2000;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;

  --timer: 0.2s;
  --delay: 0.1s;
}
.shopCart--left {
  flex-grow: 1;
  height: 100%;
  background-color: #ff000000;
}
.shopCart--right {
  max-width: 300px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.shopCart-content {
  z-index: 2000;
  grid-area: cart;
  margin-top: var(--header-height);
  background-color: #f0f0f0;
  height: calc(100vh - var(--header-height));
  padding: 12px 17px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.shopCart--paid {
  margin: 17px auto;
  align-self: center;
  height: 37px;
  width: 137px;
  padding: 7px 0px;
  border-style: none;
  border-radius: 77px;
  background-color: var(--color3);
  cursor: pointer;
  user-select: none;
}
.shopCart--paid img {
  height: 24px;
}
.shopCart-content h2 {
  margin-bottom: 7px;
  margin-top: 0;
  color: var(--color1);
  font-size: xx-large;
  user-select: none;
}
.cartProduct {
  flex-grow: 1;
  overflow-y: scroll;
}
.shopCart--close {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  background-color: #ff000000;
}
.shopCart-container--hidden-cart {
  opacity: 0;
  visibility: hidden;
  transition: all calc(var(--timer));
  transition-delay: var(--delay);
}
.shopCart-container--visible-cart {
  visibility: visible;
  transition: all calc(var(--timer));
}
.shopCart-content--hidden-cart {
  opacity: 1;
  transform: translateX(120%);
  transition: transform var(--timer);
}
.shopCart-content--visible-cart {
  opacity: 1;
  transform: translateX(0);
  transition: transform var(--timer);
}
