@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
}
:root {
  --header-height: 13vh;
  --color1: #02aff3;
  --color2: #ffffff;
  --color3: #29b63f;
  --color4: #006b9c;
  --color5: #b63f29;
}
@media (max-width: 900px) {
  .shopCart-content {
    height: 77vh;
    border-bottom-left-radius: 7px;
  }
  .header__text {
    margin-left: 4%;
  }
  .navBar__buttons {
    margin-right: 4%;
  }
  .header .navBar__buttons figure {
    padding: 0 1.5vw;
    align-self: center;
  }
  .navbar__findBar {
    width: 30%;
  }
  .navbar__findBar--figure {
    margin: auto;
  }
  .product {
    row-gap: 4px;
  }
  .product,
  .details {
    font-size: small;
  }
}
@media (max-width: 900px) and (min-width: 441px) {
  .header__text {
    font-size: calc(var(--header-height) * 0.4);
  }
  .navbar__findBar {
    height: 50%;
  }
  .navbar__findBar input {
    font-size: medium;
  }
  .header .navBar__buttons figure {
    height: 90%;
  }
  .header .navBar__buttons figure img {
    height: 60%;
  }
  .cards__container {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 440px) {
  :root {
    --header-height: 7vh;
  }
  .header__text {
    font-size: calc(var(--header-height) * 0.4);
  }
  .header .navBar__buttons figure {
    height: 23px;
  }
  .header .navBar__buttons figure img {
    height: 23px;
  }
  .header .navBar__buttons figure p {
    font-size: x-small;
    margin-top: -6.5px;
  }
  .navbar__findBar {
    margin-right: 0.5vw;
    min-width: 100px;
    height: 27px;
    border-radius: 5px;
  }
  .navbar__findBar input {
    font-size: 65%;
    margin-left: 3px;
    width: calc(100% - 27px);
  }
  .cardEdit__container {
    left: calc(100% - 300px);
  }
  .cards__container {
    width: 91.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 48%;
  }
  .details,
  .product {
    padding: 10px;
  }
  .product {
    grid-template-rows: 170px repeat(3, auto);
  }
  .skeletonContainer {
    height: 257px;
    width: 48%;
  }
  .product__buttons {
    --font-size-buttons: 12px;
  }
  .product__buttons a {
    height: 30px;
  }
  .product__buttons a img {
    height: 70%;
  }
}
