@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
}
:root {
  --header-height: 13vh;
  --color1: #02aff3;
  --color2: #ffffff;
  --color3: #29b63f;
  --color4: #006b9c;
  --color5: #b63f29;
}
@media (max-width: 900px) {
  .shopCart-content {
    height: 77vh;
    border-bottom-left-radius: 7px;
  }
  .header__text {
    margin-left: 4%;
  }
  .navBar__buttons {
    margin-right: 4%;
  }
  .header .navBar__buttons figure {
    padding: 0;
    align-self: center;
  }
  .navbar__findBar {
    width: 30%;
  }
  .navbar__findBar--figure {
    margin: auto;
  }
  .product {
    row-gap: 4px;
  }
  .product,
  .details {
    font-size: small;
  }
}
@media (max-width: 900px) and (min-width: 441px) {
  .header__text {
    font-size: calc(var(--header-height) * 0.4);
  }
  .navbar__findBar {
    height: 50%;
  }
  .navbar__findBar input {
    font-size: medium;
  }
  .header .navBar__buttons figure {
    height: 90%;
  }
  .header .navBar__buttons figure div {
    height: 60%;
    width: calc(var(--header-height) * 0.6);
  }
}
@media (max-width: 440px) {
  :root {
    --header-height: 7vh;
  }
  .header__text {
    font-size: calc(var(--header-height) * 0.4);
  }
  @keyframes hello-header-size {
    0% {
      font-size: 60px;
    }
    25% {
      font-size: 60px;
    }
    100% {
      font-size: calc(var(--header-height) * 0.4);
    }
  }
  .header .navBar__buttons figure {
    height: 23px;
  }
  .header .navBar__buttons figure div {
    height: 30px;
    width: 30px;
    margin: 0 2px;
  }
  .header .navBar__buttons figure p {
    font-size: x-small;
    margin-top: -6.5px;
  }
  .navbar__findBar {
    margin-right: 0.5vw;
    min-width: 100px;
    height: 27px;
    border-radius: 5px;
  }
  .navbar__findBar input {
    font-size: 65%;
    margin-left: 3px;
    width: calc(100% - 27px);
  }
  .cardEdit__container {
    left: calc(100% - 300px);
  }
  .category--title {
    margin-left: 0;
  }
  .category--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .category--container .card,
  .category--title {
    animation: reveal auto both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
  .card {
    width: 48%;
  }
  @keyframes reveal {
    0% {
      scale: 0.77;
      opacity: 0;
      translate: 0 77px;
    }
    100% {
      scale: 1;
      opacity: 1;
      translate: 0 0;
    }
  }
  .details,
  .product {
    padding: 10px;
  }
  .product {
    grid-template-rows: 170px auto repeat(2, min-content);
  }
  .product__footer--price :nth-child(n):not(:nth-child(2), span) {
    margin-right: 37px;
  }
  .skeletonContainer {
    height: 257px;
    width: 48%;
  }
  .product__buttons {
    --font-size-buttons: 12px;
  }
  .product__buttons a {
    height: 30px;
  }
  .product__buttons a img {
    height: 70%;
  }
  .userLoggedOptionsTitle {
    padding: 4vw;
    padding-top: 3px;
    margin-top: -3px;
  }

  .createSectionContainer {
    padding: 1vw 5vw;
  }
  .createSection--controls {
    margin-top: 17px;
    width: 100%;
  }
  .createSection--form {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .createSection--cardView {
    width: 45%;
    margin: 0;
  }
  .createSection--form__element {
    margin: 0;
  }
  .createSection--form :nth-child(2n) {
    margin-bottom: auto;
  }
  .createSection--form :nth-child(2n + 1) {
    margin-bottom: 3px;
  }
  .createSection--form .createSection--form__otro {
    margin-bottom: 0px;
  }
}
